Hec.Domain/Service References/BcrmServices/AccountInformationReq_Out.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="urn:tnb.com.my:BCRM:po:HEC:CS:AccountInformation:1.0" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="AccountInformationReq_Out" targetNamespace="urn:tnb.com.my:BCRM:po:HEC:CS:AccountInformation:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_AccountInformationReq_Out" />
  <wsdl:types>
    <xsd:schema xmlns="urn:tnb.com.my:BCRM:po:HEC:CS:AccountInformation:1.0" targetNamespace="urn:tnb.com.my:BCRM:po:HEC:CS:AccountInformation:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="AccountInformationFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="standard" type="p1:ExchangeFaultData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AccountInformationResp" type="p1:AccountInformationResp" />
      <xsd:element name="AccountInformationReq" type="p1:AccountInformationReq" />
      <xsd:complexType name="AccountInformationReq">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">ESR_CS038_HECAccountInformation</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">ac8af56d78e611e78e2f0000010e114f</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="CADetails">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="ContractAccount" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExchangeLogData">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">c356f16f7cb611e7cf560000010e114f</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="severity" type="xsd:string" />
          <xsd:element name="text" type="xsd:string" />
          <xsd:element minOccurs="0" name="url" type="xsd:string" />
          <xsd:element minOccurs="0" name="id" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AccountInformationResp">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">ESR_CS038_HECAccountInformation</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">b35f7d4f98ff11e790ef0000010e114e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CADetails">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">601b84e978e911e79571c85b7656dd51</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="ContractAccount" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">67888a3e78e811e78611c85b7656dd51</xsd:appinfo>
                    <xsd:documentation>Contract Account No</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="AccountStatus" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">67888a3f78e811e7ae68c85b7656dd51</xsd:appinfo>
                    <xsd:documentation>Account Status</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Name" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">6788a64278e811e7bd6bc85b7656dd51</xsd:appinfo>
                    <xsd:documentation>Name</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="RateCategory" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">6788a64378e811e79cc6c85b7656dd51</xsd:appinfo>
                    <xsd:documentation>Rate Category</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="RateCategoryDesc" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">6788a64478e811e7a2abc85b7656dd51</xsd:appinfo>
                    <xsd:documentation>Rate Category Description</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="DisconnectionStatus" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">6788a64578e811e78c61c85b7656dd51</xsd:appinfo>
                    <xsd:documentation>Disconnection Status</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="PremiseType" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3897ab807ca711e7c5a3c85b7656dd51</xsd:appinfo>
                    <xsd:documentation>Premise Type</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="PremiseTypeDesc" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3897ab817ca711e7c8c8c85b7656dd51</xsd:appinfo>
                    <xsd:documentation>Premise Type Description</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="BillingHistory">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">601b84ea78e911e7cb79c85b7656dd51</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="PrintDocument" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">6788a64678e811e7812ec85b7656dd51</xsd:appinfo>
                    <xsd:documentation>Print Document</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="PrintDate" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">6788a64778e811e7c562c85b7656dd51</xsd:appinfo>
                    <xsd:documentation>Print Date</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="PostDate" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">6788a64878e811e7b235c85b7656dd51</xsd:appinfo>
                    <xsd:documentation>Pos Date</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Amount" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">6788a64978e811e79facc85b7656dd51</xsd:appinfo>
                    <xsd:documentation>Amount</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Consumption" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">3897ab7f7ca711e7b89ec85b7656dd51</xsd:appinfo>
                    <xsd:documentation>Consumption</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AddressDetails">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">601b984278e911e7b96ec85b7656dd51</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="EmailID" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">6788a64a78e811e78fafc85b7656dd51</xsd:appinfo>
                    <xsd:documentation>Email ID</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MobileNo" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">6788a64b78e811e7c942c85b7656dd51</xsd:appinfo>
                    <xsd:documentation>Mobile No</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Telephone" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">6788a64c78e811e787c0c85b7656dd51</xsd:appinfo>
                    <xsd:documentation>Telephone</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="StatusMessage">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="Status" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b3178da798ff11e79052a45d3658c170</xsd:appinfo>
                    <xsd:documentation>Status</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Message" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b3178da898ff11e7ac51a45d3658c170</xsd:appinfo>
                    <xsd:documentation>Message</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExchangeFaultData">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">b5b7b34a7cb611e7b44f0000010e114f</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="faultText" type="xsd:string" />
          <xsd:element minOccurs="0" name="faultUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="faultDetail" type="p1:ExchangeLogData" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AccountInformationReq">
    <wsdl:documentation />
    <wsdl:part name="AccountInformationReq" element="p1:AccountInformationReq" />
  </wsdl:message>
  <wsdl:message name="AccountInformationResp">
    <wsdl:documentation />
    <wsdl:part name="AccountInformationResp" element="p1:AccountInformationResp" />
  </wsdl:message>
  <wsdl:message name="AccountInformationFault">
    <wsdl:documentation />
    <wsdl:part name="AccountInformationFault" element="p1:AccountInformationFault" />
  </wsdl:message>
  <wsdl:portType name="AccountInformationReq_Out">
    <wsdl:documentation />
    <wsdl:operation name="AccountInformationReq_Out">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_AccountInformationReq_Out" />
      </wsp:Policy>
      <wsdl:input message="p1:AccountInformationReq" />
      <wsdl:output message="p1:AccountInformationResp" />
      <wsdl:fault name="AccountInformationFault" message="p1:AccountInformationFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountInformationReq_OutBinding" type="p1:AccountInformationReq_Out">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="AccountInformationReq_Out">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
      <wsdl:fault name="AccountInformationFault">
        <fault use="literal" name="AccountInformationFault" namespace="" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountInformationReq_OutService">
    <wsdl:port name="HTTP_Port" binding="p1:AccountInformationReq_OutBinding">
      <address location="http://bcrmpiqci.hq.tnb.com.my:50100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=HEC_3RD000_Q&amp;receiverParty=&amp;receiverService=&amp;interface=AccountInformationReq_Out&amp;interfaceNamespace=urn%3Atnb.com.my%3ABCRM%3Apo%3AHEC%3ACS%3AAccountInformation%3A1.0" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:AccountInformationReq_OutBinding">
      <address location="https://bcrmpiqci.hq.tnb.com.my:50101/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=HEC_3RD000_Q&amp;receiverParty=&amp;receiverService=&amp;interface=AccountInformationReq_Out&amp;interfaceNamespace=urn%3Atnb.com.my%3ABCRM%3Apo%3AHEC%3ACS%3AAccountInformation%3A1.0" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>